<div class="mb-3" style="width: 500px;">
  <label for="NameCategory" class="form-label">Name Category</label>
  <input type="email" class="form-control" id="NameCategory" placeholder="">
</div>
<div class="mb-3" style="width: 500px">
  <label for="Description" class="form-label">Description</label>
  <textarea class="form-control" id="Description" rows="3"></textarea>
</div>

<a class="btn btn-primary">Submitt</a>
