@using XPOS_API.Models
@model TblCategory



<div class="card">
    <form asp-action="SureDelete">
        <h2>Are you sure want to delete @Model.NameCategory ?</h2>
        <input type="hidden" value="@Model.Id" name="Id" />
        <button data-dismiss="modal" class="btn btn-light">Cancel</button>
        <button class="btn btn-danger">Sure</button>
    </form>
</div>